@import "colors";
@import "mediaqueries";
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color:$black;
    color: $white;
  }
  .fab {
    color: $white;
  }