@import "colors";
@import "mediaqueries";
/* format showcase header */

#showcase {
    background-image: url("/img/serene2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
  }
  .showcase-content {
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
    color: $white;
    padding-bottom: 3em;
  }
  .showcase-content:hover {
    backdrop-filter: blur(0px);
    transition: all 1s ease;
  }