@import 'navbar';
@import 'showcase';
@import 'section-a';
@import 'section-b';
@import 'section-c';
@import 'section-d';
@import 'footer';
@import 'mediaqueries';


*
 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Slab";
    line-height: 1.7;
    scroll-behavior: smooth;
  }

  .main {
    min-width: 600px;
  }